* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

b {
    font-size: inherit;
}

a {
    text-decoration: none;
}

body {
    height: 100%;
    line-height: 1;
    font-size: 20px;
    color: #313131;
    font-family: "Golos Text", sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1222px;
    margin: 0px auto;
    padding: 0 20px;
    box-sizing: content-box; 
}

._color-red {
    color: #F54932;
    font-weight: bold;
}

.running-line {
    display: flex;
    align-items: center;
    height: 60px;

    font-family: "Merriweather";
    font-size: 22px;
    color: white;

    background-color: #F54932;

    @media (max-width: 414px) {
        height: 38px;
        font-size: 16px;
    }

    ul {
        display: flex;
        gap: 36px;
        text-transform: uppercase;
        letter-spacing: .02rem;

        li:nth-child(1) {
            margin-left: 40px;
        }
    }

    &__content {
        white-space: nowrap;
        animation: marquee 30s linear infinite;
    }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.button {
    &__prev, &__next {
      display: flex;
      justify-content: center;
      align-items: center;

      flex: 0 0 44px;
      width: 44px;
      height: 44px;

      background-color: #313131;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #FBCE51;
      }

      &.disabled {
        background-color: #D6D6D6;
      }
    }

    &__next {
      transform: rotate(180deg);
    }
}