* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

b {
  font-size: inherit;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 20px;
  color: #313131;
  font-family: "Golos Text", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1222px;
  margin: 0px auto;
  padding: 0 20px;
  box-sizing: content-box;
}

._color-red {
  color: #F54932;
  font-weight: bold;
}

.running-line {
  display: flex;
  align-items: center;
  height: 60px;
  font-family: "Merriweather";
  font-size: 22px;
  color: white;
  background-color: #F54932;
}
@media (max-width: 414px) {
  .running-line {
    height: 38px;
    font-size: 16px;
  }
}
.running-line ul {
  display: flex;
  gap: 36px;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
}
.running-line ul li:nth-child(1) {
  margin-left: 40px;
}
.running-line__content {
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.button__prev, .button__next {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 44px;
  width: 44px;
  height: 44px;
  background-color: #313131;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}
@media (max-width: 450px) {
  .button__prev, .button__next {
    width: 36px;
    height: 36px;
    flex: 0 0 36px;
  }
}
.button__prev:hover, .button__next:hover {
  background-color: #FBCE51;
}
.button__prev.disabled, .button__next.disabled {
  background-color: #D6D6D6;
}
.button__next {
  transform: rotate(180deg);
}

.header__container {
  position: relative;
}
.header__logo {
  position: absolute;
  top: 28px;
  z-index: 50;
}
@media (max-width: 415px) {
  .header__logo {
    top: 20px;
  }
}
@media (max-width: 415px) {
  .header__logo img {
    height: 27px;
  }
}
.header__logo span {
  display: inline-block;
  text-transform: uppercase;
  color: #595653;
  font-weight: bold;
  font-size: 16.65px;
  margin-left: 2px;
}
@media (max-width: 415px) {
  .header__logo span {
    font-size: 14.42px;
  }
}

.promo {
  background-color: #E9DED4;
  background-image: url("../img/promo_background.png");
  background-blend-mode: color-burn;
}
.promo__container {
  position: relative;
  padding-top: 124px;
  padding-bottom: 132px;
}
@media (max-width: 1000px) {
  .promo__container {
    padding-bottom: 205px;
  }
}
@media (max-width: 415px) {
  .promo__container {
    padding-top: 92px;
    padding-bottom: 292px;
  }
}
.promo__container h1 {
  font-family: "Merriweather";
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 110%;
}
@media (max-width: 600px) {
  .promo__container h1 {
    font-size: 36px;
  }
}
@media (max-width: 374px) {
  .promo__container h1 {
    font-size: 29px;
  }
}
.promo__container h1 span:nth-child(1) {
  letter-spacing: 0.17rem;
}
@media (max-width: 415px) {
  .promo__container h1 span:nth-child(1) {
    letter-spacing: 0.08rem;
  }
}
.promo__container h1 span:nth-child(2) {
  letter-spacing: 0.13rem;
}
@media (max-width: 415px) {
  .promo__container h1 span:nth-child(2) {
    letter-spacing: 0.05rem;
  }
}
.promo__container h1 span:nth-child(3) {
  padding-left: 92px;
}
@media (max-width: 415px) {
  .promo__container h1 span:nth-child(3) {
    padding-left: 64px;
    letter-spacing: 0.04rem;
  }
}
.promo__container h1 span:nth-child(4) {
  padding-left: 37px;
}
@media (max-width: 415px) {
  .promo__container h1 span:nth-child(4) {
    padding-left: 30px;
    letter-spacing: 0.04rem;
  }
}
.promo__info {
  position: relative;
  max-width: 560px;
  z-index: 5;
}
.promo__info p {
  text-align: center;
  font-size: 18px;
  margin-top: 24px;
  margin-left: -16px;
  line-height: 1.3;
}
.promo__info p br {
  display: none;
}
@media (max-width: 415px) {
  .promo__info p br {
    display: inline;
  }
}
@media (max-width: 600px) {
  .promo__info p {
    font-size: 18px;
    margin-left: 0;
    text-align: start;
  }
}
@media (max-width: 768px) {
  .promo__info {
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .promo__info {
    max-width: 365px;
  }
}
.promo__buttons {
  display: flex;
  justify-content: space-between;
  max-width: 542px;
  margin-top: 39px;
}
@media (max-width: 600px) {
  .promo__buttons {
    flex-direction: column;
    gap: 14px;
  }
}
@media (max-width: 416px) {
  .promo__buttons {
    margin-top: 30px;
    max-width: 336px;
  }
}
.promo__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 72px;
  flex: 0 0 263px;
  color: #1F1F1F;
  font-size: 16px;
  font-family: 500;
  line-height: 1.3;
  border: 2px solid #1f1f1f;
  border-radius: 66px;
  transition: all 0.3s;
}
@media (max-width: 600px) {
  .promo__button {
    flex: 0 0 47px;
    font-size: 16px;
  }
  .promo__button br {
    display: none;
  }
}
.promo__button:hover {
  background-color: #1F1F1F;
  color: white;
}
@media (max-width: 1190px) {
  .promo__button {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
  }
}
.promo__button_fill {
  background-color: #1f1f1f;
  color: white;
}
.promo__button_fill:hover {
  background-color: #FBCE51;
  border: 2px solid #FBCE51;
  color: #1F1F1F;
}
.promo__background {
  position: absolute;
  top: -51px;
  right: -328px;
}
@media (max-width: 1000px) {
  .promo__background {
    top: unset;
    bottom: 0;
    right: -140px;
  }
}
@media (max-width: 415px) {
  .promo__background {
    right: -150px;
  }
}
.promo__background img {
  height: 750px;
}
@media (max-width: 1000px) {
  .promo__background img {
    height: 560px;
  }
}
@media (max-width: 768px) {
  .promo__background img {
    height: 445px;
  }
}
@media (max-width: 415px) {
  .promo__background img {
    height: 390px;
  }
}
.running-line {
  margin-top: -1px;
}

.lecture__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
}
@media (max-width: 1200px) {
  .lecture__container {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 415px) {
  .lecture__container {
    padding-top: 50px;
  }
}
.lecture__container h2 {
  flex: 0 1 750px;
}
@media (max-width: 1200px) {
  .lecture__container h2 {
    display: none;
  }
}
.lecture__container h2 ._color-red {
  letter-spacing: 0.02rem;
}
.lecture__container img {
  height: 250px;
  border-radius: 50%;
}
@media (max-width: 520px) {
  .lecture__container img {
    height: auto;
    max-width: 390px;
    width: 100%;
  }
}
@media (max-width: 415px) {
  .lecture__container img {
    margin-bottom: 9px;
  }
}
.lecture__header {
  font-family: "Merriweather";
  font-size: 36px;
  text-transform: uppercase;
  line-height: 1.35;
  letter-spacing: 0.04rem;
}
@media (max-width: 520px) {
  .lecture__header {
    font-size: 28px;
  }
}
@media (max-width: 365px) {
  .lecture__header {
    font-size: 24px;
  }
}
.lecture__header_mobile {
  display: none;
  text-align: center;
}
@media (max-width: 1200px) {
  .lecture__header_mobile {
    display: block;
  }
}
@media (max-width: 415px) {
  .lecture__header_mobile {
    text-align: start;
  }
  .lecture__header_mobile span {
    letter-spacing: 0;
  }
}

.game__container {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
}
@media (max-width: 1250px) {
  .game__container {
    flex-direction: column;
  }
}
@media (max-width: 520px) {
  .game__container {
    padding-top: 34px;
  }
}
.game__image {
  position: relative;
  height: 563px;
}
@media (max-width: 520px) {
  .game__image {
    height: 400px;
  }
}
.game__image img {
  position: absolute;
  top: 0;
  height: 100%;
  margin-left: -25px;
  margin-top: -25px;
}
@media (max-width: 1250px) {
  .game__image img {
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }
}
.game__image::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  width: 525px;
  height: 100%;
  background-color: white;
}
@media (max-width: 1250px) {
  .game__image::before {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.game__image-filter {
  mix-blend-mode: color-burn;
  pointer-events: none;
}
.game__main {
  flex: 0 1 704px;
}
@media (max-width: 1250px) {
  .game__main {
    flex: 1;
  }
}
.game__main h2 {
  font-family: "Merriweather";
  font-size: 36px;
  text-transform: uppercase;
  line-height: 1.35;
  letter-spacing: 0.04rem;
}
@media (max-width: 1250px) {
  .game__main h2 {
    text-align: center;
  }
}
@media (max-width: 520px) {
  .game__main h2 {
    font-size: 28px;
  }
}
@media (max-width: 415px) {
  .game__main h2 {
    text-align: start;
    margin-top: 28px;
    letter-spacing: 0.01rem;
  }
  .game__main h2 span br {
    display: none;
  }
}
.game__main h2 ._color-red {
  letter-spacing: 0.02rem;
}
.game__main table {
  border-collapse: collapse;
  border-style: hidden;
  margin-top: 60px;
}
@media (max-width: 1250px) {
  .game__main table {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 520px) {
  .game__main table {
    margin-left: 0;
    margin-right: 0;
    margin-top: 28px;
    width: 100%;
  }
}
@media (max-width: 520px) {
  .game__main table tr {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #D0D0D0;
    gap: 14px;
    padding: 16px 0;
  }
  .game__main table tr.price {
    flex-direction: row;
  }
}
.game__main table tr td {
  border: 2px solid #D0D0D0;
  padding: 16px;
  padding-right: 20px;
  line-height: 1.1;
}
@media (max-width: 520px) {
  .game__main table tr td {
    border: none;
    padding: 0;
  }
}
.game__main table tr td del {
  text-decoration-color: red;
  margin-right: 12px;
}
.game__main table tr td:nth-child(1) {
  padding-left: 0;
}
.game__main table tr td:nth-child(2) {
  font-weight: 600;
}
.game__main table tr:nth-child(1) td {
  padding-top: 0;
}
.game__main p {
  display: block;
  line-height: 1.2;
  color: #3057A2;
  margin-top: 34px;
}
@media (max-width: 1250px) {
  .game__main p {
    text-align: center;
  }
}
@media (max-width: 520px) {
  .game__main p {
    font-size: 18px;
  }
}
@media (max-width: 415px) {
  .game__main p {
    text-align: start;
    margin-top: 24px;
  }
}

.story__container {
  padding-top: 164px;
}
@media (max-width: 800px) {
  .story__container {
    padding-top: 120px;
  }
}
.story__header {
  max-width: 800px;
}
@media (max-width: 750px) {
  .story__header {
    max-width: 650px;
  }
}
.story__header h2 {
  display: inline;
  font-family: "Merriweather";
  font-size: 54px;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.1rem;
}
@media (max-width: 750px) {
  .story__header h2 {
    font-size: 36px;
  }
}
@media (max-width: 550px) {
  .story__header h2 {
    line-height: 1.1;
    letter-spacing: 0.05rem;
  }
}
@media (max-width: 360px) {
  .story__header h2 {
    font-size: 31px;
  }
}
.story__header span {
  display: inline-block;
  color: #3057A2;
  line-height: 1.2;
  max-width: 280px;
  margin-left: 15px;
}
@media (max-width: 750px) {
  .story__header span {
    font-size: 18px;
  }
}
@media (max-width: 550px) {
  .story__header span {
    max-width: none;
    margin-left: 0;
    margin-top: 14px;
  }
}
@media (max-width: 360px) {
  .story__header span {
    font-size: 16px;
  }
}
.story__slider {
  position: relative;
}
@media (max-width: 1250px) {
  .story__slider {
    padding-top: 95px;
  }
}
.story__wrapper {
  overflow: hidden;
}
.story__stages {
  display: grid;
  grid-template-columns: 394px 1fr 1fr;
  gap: 20px;
  list-style-type: none;
  margin-top: 54px;
  counter-reset: number;
}
@media (max-width: 1250px) {
  .story__stages {
    grid-template-columns: none;
    grid-template-rows: 150px 150px;
    grid-auto-columns: calc(33.333% - 14px);
    grid-auto-flow: column;
    gap: 0;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 1050px) {
  .story__stages {
    grid-auto-columns: calc(50% - 10px);
    grid-auto-flow: column;
  }
}
@media (max-width: 750px) {
  .story__stages {
    grid-auto-columns: 100%;
  }
}
.story__stages li {
  display: flex;
  gap: 16px;
  background-color: rgb(241, 227, 211);
  background-image: url("../img/promo_background.png");
  background-blend-mode: color-burn;
  min-height: 112px;
  counter-increment: number;
  padding: 20px;
}
@media (max-width: 1250px) {
  .story__stages li {
    padding-top: 38px;
    padding-bottom: 0;
  }
}
@media (max-width: 750px) {
  .story__stages li {
    padding-top: 62px;
  }
}
@media (max-width: 450px) {
  .story__stages li {
    font-size: 18px;
    font-weight: 500;
  }
}
@media (max-width: 333px) {
  .story__stages li {
    font-size: 16px;
  }
}
.story__stages li::before {
  content: counter(number);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 36px;
  height: 36px;
  background-color: white;
  font-weight: 700;
  border-radius: 50%;
}
.story__stages li span {
  line-height: 1.2;
}
@media (max-width: 1250px) {
  .story__stages .item2 {
    padding-top: 0;
  }
}
@media (max-width: 750px) {
  .story__stages .item2 {
    padding-top: 28px;
  }
}
.story__stages .item3 {
  grid-column: 3;
  grid-row: 1/3;
}
@media (max-width: 1250px) {
  .story__stages .item3 {
    grid-column: auto;
    grid-row: 1/3;
  }
}
.story__stages .item5 {
  padding-right: 25px;
}
@media (max-width: 1250px) {
  .story__stages .item5 {
    padding-top: 0;
  }
}
@media (max-width: 750px) {
  .story__stages .item5 {
    margin-top: -16px;
  }
}
@media (max-width: 1250px) {
  .story__stages .item6 {
    grid-row: 1/3;
  }
}
.story__stages .item7 {
  grid-column: 2/4;
  grid-row: 3;
}
@media (max-width: 1250px) {
  .story__stages .item7 {
    grid-column: auto;
    grid-row: 1/3;
  }
}
.story__stages .item7 span {
  display: block;
  max-width: 446px;
}
.story__image {
  position: absolute;
  right: -63px;
  bottom: -2px;
  z-index: 5;
}
@media (max-width: 1250px) {
  .story__image {
    top: -25px;
    right: 50%;
    transform: translateX(60%);
  }
}
@media (max-width: 1050px) {
  .story__image {
    right: auto;
    transform: unset;
    left: 50px;
  }
}
@media (max-width: 750px) {
  .story__image {
    width: 340px;
    top: 16px;
    left: 8px;
    transform: rotate(-3deg);
  }
}
.story__pagination {
  display: none;
  gap: 16px;
  justify-content: center;
  margin-top: 28px;
}
@media (max-width: 1250px) {
  .story__pagination {
    display: flex;
  }
}
.story__dots {
  display: flex;
  align-items: center;
  gap: 6px;
}
.story__dot {
  flex: 0 0 10px;
  width: 10px;
  height: 10px;
  background-color: #D9D9D9;
  border-radius: 50%;
  transition: background-color 0.3s;
}
.story__dot.active {
  background-color: #313131;
}

.participants {
  padding-top: 200px;
  padding-bottom: 143px;
}
@media (max-width: 500px) {
  .participants {
    padding-top: 118px;
    padding-bottom: 110px;
  }
}
.participants__container {
  position: relative;
}
.participants__container h2 {
  font-family: "Merriweather";
  font-size: 54px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
}
@media (max-width: 500px) {
  .participants__container h2 {
    font-size: 36px;
    letter-spacing: 0.02rem;
    line-height: 1.1;
  }
}
.participants__slider {
  overflow: hidden;
}
.participants__list {
  display: flex;
  padding-top: 60px;
}
@media (max-width: 500px) {
  .participants__list {
    padding-top: 42px;
  }
}
.participants__card {
  flex: 0 0 33.333%;
}
@media (max-width: 1050px) {
  .participants__card {
    flex: 0 0 50%;
  }
}
@media (max-width: 750px) {
  .participants__card {
    flex: 0 0 100%;
  }
}
.participants__navigation {
  position: absolute;
  top: 10px;
  right: 19px;
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 880px) {
  .participants__navigation {
    position: relative;
    justify-content: center;
    margin-top: 30px;
    right: 0;
  }
}
@media (max-width: 450px) {
  .participants__navigation {
    gap: 12px;
  }
}

.participants-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.participants-card img {
  max-width: 320px;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
  margin-bottom: 28px;
}
@media (max-width: 500px) {
  .participants-card img {
    max-width: 244px;
  }
}
.participants-card__name {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 6px;
}
@media (max-width: 500px) {
  .participants-card__name {
    margin-bottom: 10px;
  }
}
.participants-card__about {
  margin-bottom: 23px;
}
.participants-card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 35px;
  font-size: 16px;
  font-weight: 500;
  color: #3057A2;
  border: 1px solid #3057A2;
  border-radius: 62px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.participants-card__button:hover {
  background-color: #3057A2;
  color: white;
}

.participants-count {
  font-size: 16px;
  line-height: 1.2;
}
.participants-count__separator {
  opacity: 0.6;
}
.participants-count__total {
  opacity: 0.6;
}

.footer {
  background-color: #E9DED4;
}
.footer__container {
  padding-top: 40px;
  padding-bottom: 72px;
}
.footer__container p {
  font-size: 16px;
  line-height: 1.2;
}/*# sourceMappingURL=style.css.map */